body { font-family: "Roboto";
    margin:0px;
}

h1{
  font-size: 20px;
  width: 100%;
  color: #333333;
  text-align: center;
}

p{
  margin: auto;
  text-align: center;
  font-size: 12px;
  color: #555555;
}

#banner { 
    background-color:#ACACAC;
    min-width:900px;
    height:20px;
    float:top;
    text-align: center;
    margin-top: 0px;
} 


#wrapper { 
    background-color:#ffffff;
    min-width:900px;
    width:100%;
} 

footer{background-color: #ECCBBA;
      color: #555555; 
      width: 100%;}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;

  }
  
footer li {
    margin: 0;
    padding: 0;
    display: block;
}
  
footer li a {
    display: block;
    color: #555555;
    text-align: center;
    margin: 5px 17px ;
    padding: 8px;
    font-size: 14px;
    text-decoration: none;
  }


/*Content Box */
.content {padding: 10px 20px 30px 20px; min-width:900px;} 
/* .content {padding: 20px 20px 20px 20px;}   */
.content table{padding: 20px 20px 20px 20px ; margin:auto;}

/* Navigation Bar */
.topnav {
    position: relative;
    background-color: #ECCBBA;
    list-style-type: none;
    border: none;
  }

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #333333;
    text-align: center;
    padding: 16px 25px;
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;

  }
/* Change the color of links on hover */

  /* Centered section inside the top navigation */
.topnav-centered a {
    float: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 1px;
    margin-right: 15px;
    margin-left: 15px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
  }

    .dropbtn {
      background-color: #ECCBBA;
      color: #333333;
      padding: 16px;
      font-size: 14px;
      border: none;
      font-family: "Roboto",Arial,sans-serif;
      line-height: 20px;
    }
    
    .dropdown {
      position: relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #ECCBBA;
      width: 170.74px;
      z-index: 1;
    }
    
    .dropdown-content a {
      color: #333333;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      width:138.74px;
      text-align:left;
    }
    
    
    .topnav a:hover, .dropdown:hover .dropbtn, .dropdown-content a:hover {color: #a0a0a0;}
    
    .dropdown:hover .dropdown-content {display: block;}
    