
.category {
  table-layout: fixed;
  width: 100%;
}

.category td {
  text-align: center;
  color: #555555;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 2%;
}

.category th {
  text-align: center;
  color: #333333;
}

.category a {
  color: #555555;
  text-decoration: none;
}

.category img {
  max-width: 100%;
  height: auto;
  display: block;
}
